/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #eee;
}

header {
  background-color: #222;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

.back-button {
  padding: 10px 20px;
  background-color: #333;
  color: #eee;
  border: 1px solid #555;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s, border 0.3s;
}

.back-button:hover {
  background-color: #444;
  border-color: #666;
}

.nav-buttons button {
  padding: 7px;
  border: none;
  background-color: #333;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  color: #eee;
}

button:hover {
  background-color: #444;
}

main {
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  color: #ccc;
}

input, select, textarea {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #555;
  background: #222;
  color: #eee;
}

button[type="submit"] {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
